/**
 * @file
 * Styles for Siteimprove toolbar.
 */
.siteimprove-toolbar .siteimprove-link:before {
  background-image: url('data:image/svg+xml,%3Csvg width=%22170%22 height=%22170%22 viewBox=%220 0 170 170%22 fill=%22none%22 xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cg clip-path=%22url(%23clip0_98_12966)%22%3E%3Cpath fill-rule=%22evenodd%22 clip-rule=%22evenodd%22 d=%22M0.799805 85.0998C0.799805 38.4998 38.4998 0.799805 85.0998 0.799805C131.6 0.799805 169.3 38.5998 169.3 85.0998C169.3 131.6 131.7 169.3 85.0998 169.3C38.4998 169.3 0.799805 131.7 0.799805 85.0998ZM104.6 55.7996C104.6 51.3996 108.2 47.5996 112.7 47.5996C117.2 47.5996 120.9 51.3996 120.9 55.7996C120.9 60.1996 117.3 63.8996 112.7 63.8996C108.1 63.8996 104.6 60.1996 104.6 55.7996ZM106.1 69.8996H119.3V121.1H106.1V69.8996ZM43.2002 104.8L55.2002 97.7C57.8002 104.4 62.8002 108.6 71.7002 108.6C80.6002 108.6 83.2002 105 83.2002 101C83.2002 95.7 78.4002 93.6 67.7002 90.5C56.8002 87.4 46.1002 82.9 46.1002 69.2C46.1002 55.5 57.5002 48 69.7002 48C81.9002 48 90.5002 54 95.3002 64L83.5002 70.8C80.9002 65.3 77.0002 61.6 69.7002 61.6C63.8002 61.6 60.3002 64.7 60.3002 68.8C60.3002 73.2 63.0002 75.5 73.9002 78.8L74.193 78.895C85.5064 82.5658 97.4002 86.425 97.4002 100.9C97.4002 114.3 86.6002 122.5 71.4002 122.5C56.8002 122.6 47.0002 115.6 43.2002 104.8Z%22 fill=%22%23BEBEBE%22/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id=%22clip0_98_12966%22%3E%3Crect width=%22170%22 height=%22170%22 fill=%22white%22/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E');
}
.siteimprove-toolbar .siteimprove-link.is-active:before {
  background-image: url('data:image/svg+xml,%3Csvg width=%22170%22 height=%22170%22 viewBox=%220 0 170 170%22 fill=%22none%22 xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cg clip-path=%22url(%23clip0_98_12966)%22%3E%3Cpath fill-rule=%22evenodd%22 clip-rule=%22evenodd%22 d=%22M0.799805 85.0998C0.799805 38.4998 38.4998 0.799805 85.0998 0.799805C131.6 0.799805 169.3 38.5998 169.3 85.0998C169.3 131.6 131.7 169.3 85.0998 169.3C38.4998 169.3 0.799805 131.7 0.799805 85.0998ZM104.6 55.7996C104.6 51.3996 108.2 47.5996 112.7 47.5996C117.2 47.5996 120.9 51.3996 120.9 55.7996C120.9 60.1996 117.3 63.8996 112.7 63.8996C108.1 63.8996 104.6 60.1996 104.6 55.7996ZM106.1 69.8996H119.3V121.1H106.1V69.8996ZM43.2002 104.8L55.2002 97.7C57.8002 104.4 62.8002 108.6 71.7002 108.6C80.6002 108.6 83.2002 105 83.2002 101C83.2002 95.7 78.4002 93.6 67.7002 90.5C56.8002 87.4 46.1002 82.9 46.1002 69.2C46.1002 55.5 57.5002 48 69.7002 48C81.9002 48 90.5002 54 95.3002 64L83.5002 70.8C80.9002 65.3 77.0002 61.6 69.7002 61.6C63.8002 61.6 60.3002 64.7 60.3002 68.8C60.3002 73.2 63.0002 75.5 73.9002 78.8L74.193 78.895C85.5064 82.5658 97.4002 86.425 97.4002 100.9C97.4002 114.3 86.6002 122.5 71.4002 122.5C56.8002 122.6 47.0002 115.6 43.2002 104.8Z%22 fill=%22white%22/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id=%22clip0_98_12966%22%3E%3Crect width=%22170%22 height=%22170%22 fill=%22white%22/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E');
}
.siteimprove-toolbar .toolbar-menu {
  background-color: rgba(0,0,0,0);
}
.siteimprove-url {
  font-size: 15px;
  padding: 5px 10px;
}
